<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

</head>
<body>
      <a href="/about">About</a>
      <div>
        <a href="/language/en">en</a>
        <a href="/language/fr">fr</a>
        <a href="/language/ko">ko</a>
        <a href="/language/ja">ja</a>
        <a href="/language/so">so</a>
        <a href="/language/es">es</a>
      </div>
      <h1><%= heading %></h1>
      <p> <%= body %></p>
</body>
</html>